h1 {
    text-align: center;
}
/* .back{
    vertical-align: middle;
    top: 35%;
}

.back img{
    width: 100vw; 
    position:absolute;
} */

@font-face {
    font-family: 'Chunk';
    font-style: normal;
    font-weight: normal;
    src: url("Chunk.otf");
  }
  #brand {
      font-family: 'Chunk';
  }

#bg{
    position: absolute;
    width:100vw;
    z-index:-999;
    top:35vh;
    /* z-index: */
}
