h1 {
    text-align: center;
}
/* .back{
    vertical-align: middle;
    top: 35%;
}

.back img{
    width: 100vw; 
    position:absolute;
} */

#bg{
    position: absolute;
    width:100vw;
    z-index:-999;
    top:37vh;
    /* z-index: */
}