/* # is id. ID has precedence over class & element */
/* . is class */

#page{
    text-align: center;
    font-size: 25px;
}
#balance {
    padding-top: 30vw;
    text-align: center;
}

#btnColor {
    background-color: #147037
}

.center{
    text-align: center !important;
}
